
.wraper{

}


.header{
    padding: 20px;
    background-color: #09024F;
    display: flex;
    justify-content: space-evenly;
}


.link{
    font-weight: bold;
    color:#ffff;
    text-decoration: none;
}

.header button {
	border-radius: 5px;
	cursor: pointer;
	background-color: #09024F;
	color: white;
	font-weight: bold;
	font-size: 1em;
}